<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="png/jpg" href="https://img.icons8.com/nolan/64/coronavirus.png" sizes="50x50">
    <title>Corona</title>
    <link rel="stylesheet" href="./css/style.css" >
    <link rel="stylesheet" href="./css/partials/footer.css" >
    <link rel="stylesheet" href="./css/partials/navbar.css" >
    <link rel="stylesheet" href="./css/partials/table.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3f067de817.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="App"> 
        {{>navbar}}
        <div class="Home">
            <div class="home-left">
                <div class="home-header">
                    <div class="Search">
                        <label class="fadeUp">Search your country here</label>
                        <div class="btn-container">
                            <a href="../country" id="countryWise" class="btn btn-lg active mt-4 mb-2 switch" role="button" aria-pressed="true">Country Wise</a>
                        </div>
                        {{!-- <div class="input-group mt-4 search-btn">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon1">Search</button>
                            </div>
                            <input type="text" id="search-country" class="form-control search-input" name="country" placeholder="Country..." aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div> --}}
                        <label class="time-stamp mt-3">{{dateAndTime}} IST</label>
                    </div>
                </div>
                <div class="name-header p-1 mt-5">
                    <div class="left">
                        <div class="country-name">
                            <h3>Global Stats</h3>
                        </div>
                        <div class="updated-time">
                            <label>Last updated {{timeFromNow}}</label>
                        </div>
                    </div>
                </div>
                {{>headerdata}}
                <div class="table-container mt-5">
                    <div class="tabel">
                        <div class="row heading">
                            <div class="cell heading"><div>Country</div></div>
                            <div class="cell heading"><div>Confirmed</div></div>
                            <div class="cell heading"><div>Active</div></div>
                            <div class="cell heading"><div>Recovered</div></div>
                            <div class="cell heading"><div>Deceased</div></div>
                        </div>
                        {{#each response}}
                            <div class="row">
                                <div class="cell"><div class="countryName">{{this.country}}</div></div>
                                <div class="cell"><span class="riseInConfirmed pr-3">{{this.cases.new}}</span><div class="confirmed">{{this.cases.total}}</div></div>
                                <div class="cell"><div class="active">{{this.cases.active}}</div></div>
                                <div class="cell"><div class="recovered">{{this.cases.recovered}}</div></div>
                                <div class="cell"><span class="riseInDeaths pr-3">{{this.deaths.new}}</span><div class="deaths">{{this.deaths.total}}</div></div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</body> 
</html>