<div style="position:relative; margin-top: 1rem;" class="Mappers mt-5">
    <div class="boxes is-confirmed">
        <div>
            <h5>Confirmed</h5>
            <h4>+{{RiseConfirmed}}</h4>
            <h1>{{Confirmed}}</h1>
        </div>
        <div class="svg-parent">
            <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#ff073a99" stroke-width="2.5" d="M5,10C6.416666666666667,10.368425529846395,7.833333333333333,10.736851059692789,9.25,11.762249659731676C10.666666666666666,12.787648259770563,12.083333333333334,16.152391600233326,13.5,16.152391600233326C14.916666666666666,16.152391600233326,16.333333333333332,13.82699786117052,17.75,13.134551818005052C19.166666666666668,12.442105774839584,20.583333333333332,11.997715341240518,22,11.997715341240518C23.416666666666668,11.997715341240518,24.833333333333332,12.217528679758896,26.25,12.263805172078554C27.666666666666668,12.310081664398211,29.083333333333332,12.33321991055804,30.5,12.33321991055804C31.916666666666668,12.33321991055804,33.333333333333336,11.298123663231575,34.75,11.298123663231575C36.166666666666664,11.298123663231575,37.583333333333336,12.253370276751573,39,13.33599066692592C40.416666666666664,14.418611057100266,41.833333333333336,17.793846004277658,43.25,17.793846004277658C44.666666666666664,17.793846004277658,46.083333333333336,15.076973556290104,47.5,14.10839976667315C48.91666666666667,13.139825977056194,50.333333333333336,11.98240326657593,51.75000000000001,11.98240326657593C53.16666666666667,11.98240326657593,54.583333333333336,13.282284982824548,56,13.671495236243434C57.416666666666664,14.06070548966232,58.833333333333336,13.960099487977184,60.25,14.317664787089246C61.666666666666664,14.675230086201308,63.083333333333336,15.65605353554994,64.5,15.81688703091581C65.91666666666667,15.97772052628168,67.33333333333333,15.897303778598745,68.75,16.058137273964615C70.16666666666667,16.218970769330486,71.58333333333333,21.03966556484542,73,21.03966556484542C74.41666666666667,21.03966556484542,75.83333333333333,18.10456769719359,77.25,17.045255687342014C78.66666666666667,15.985943677490436,80.08333333333333,14.683793505735954,81.5,14.683793505735954C82.91666666666667,14.683793505735954,84.33333333333333,17.40968306435932,85.75,17.40968306435932C87.16666666666667,17.40968306435932,88.58333333333333,16.983156717868948,90,16.556630371378574" stroke-dasharray="99.96369171142578" stroke-dashoffset="0"></path>
                <circle fill="#ff073a" r="2.5" cx="90" cy="16.556630371378574" style="opacity: 1;"></circle>
            </svg>
        </div>
    </div>
    <div class="boxes is-active">
        <div>
            <h5>Active</h5>
            <h4></h4>
            <h1>{{Active}}</h1>
        </div>
        <div class="svg-parent">
            <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#007bff99" stroke-width="2.5" d="M5,44.772798659826194C6.416666666666667,45.45312009213695,7.833333333333333,46.133441524447704,9.25,48.85472725369072C10.666666666666666,51.57601298293373,12.083333333333334,73,13.5,73C14.916666666666666,73,16.333333333333332,53.6552716992985,17.75,49.624280180085854C19.166666666666668,45.593288660873206,20.583333333333332,45.596953198617946,22,43.57779290126688C23.416666666666668,41.55863260391582,24.833333333333332,37.50931839597948,26.25,37.50931839597948C27.666666666666668,37.50931839597948,29.083333333333332,51.08203329494293,30.5,51.08203329494293C31.916666666666668,51.08203329494293,33.333333333333336,49.60137681918124,34.75,46.71646947963564C36.166666666666664,43.83156214009004,37.583333333333336,33.77258925766935,39,33.77258925766935C40.416666666666664,33.77258925766935,41.833333333333336,59.42948382368339,43.25,59.42948382368339C44.666666666666664,59.42948382368339,46.083333333333336,52.06596167940529,47.5,49.02842634279133C48.91666666666667,45.99089100617736,50.333333333333336,42.43262485603603,51.75000000000001,41.20427180399958C53.16666666666667,39.97591875196314,54.583333333333336,39.747984504240385,56,39.36174222594492C57.416666666666664,38.97549994764946,58.833333333333336,38.78237880850173,60.25,38.78237880850173C61.666666666666664,38.78237880850173,63.083333333333336,49.323055177468326,64.5,49.323055177468326C65.91666666666667,49.323055177468326,67.33333333333333,44.64417338498586,68.75,44.64417338498586C70.16666666666667,44.64417338498586,71.58333333333333,59.77028583394409,73,59.77028583394409C74.41666666666667,59.77028583394409,75.83333333333333,55.731965239241966,77.25,53.686420270128785C78.66666666666667,51.640875301015605,80.08333333333333,47.497016019265004,81.5,47.497016019265004C82.91666666666667,47.497016019265004,84.33333333333333,50.41233902209193,85.75,51.29421003036331C87.16666666666667,52.17608103863469,88.58333333333333,52.482161553764,90,52.788242068893304" stroke-dasharray="219.53346252441406" stroke-dashoffset="0"></path>
                <circle fill="#007bff" r="2.5" cx="90" cy="52.788242068893304" style="opacity: 1;"></circle>
            </svg>
        </div>
    </div>
    <div class="boxes is-recovered">
        <div>
            <h5>Recovered</h5>
            <h4></h4>
            <h1>{{Recovered}}</h1>
        </div>
        <div class="svg-parent">
            <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#28a74599" stroke-width="2.5" d="M5,12.371873622336519C6.416666666666667,12.597612049963264,7.833333333333333,12.823350477590006,9.25,12.823350477590006C10.666666666666666,12.823350477590006,12.083333333333334,10,13.5,10C14.916666666666666,10,16.333333333333332,13.379955914768562,17.75,13.832152828802355C19.166666666666668,14.284349742836149,20.583333333333332,14.072498163115352,22,14.510448199853045C23.416666666666668,14.948398236590737,24.833333333333332,16.45985304922851,26.25,16.45985304922851C27.666666666666668,16.45985304922851,29.083333333333332,12.698368846436443,30.5,12.698368846436443C31.916666666666668,12.698368846436443,33.333333333333336,12.797736958119028,34.75,12.9964731814842C36.166666666666664,13.195209404849372,37.583333333333336,18.450609845701692,39,18.450609845701692C40.416666666666664,18.450609845701692,41.833333333333336,15.404041146216017,43.25,15.208185157972078C44.666666666666664,15.01232916972814,46.083333333333336,14.914401175606171,47.5,14.914401175606171C48.91666666666667,14.914401175606171,50.333333333333336,15.004511388684788,51.75000000000001,15.184731814842024C53.16666666666667,15.364952240999258,54.583333333333336,16.744379132990446,56,17.203879500367375C57.416666666666664,17.663379867744304,58.833333333333336,17.9417340191036,60.25,17.9417340191036C61.666666666666664,17.9417340191036,63.083333333333336,16.301542983100664,64.5,16.301542983100664C65.91666666666667,16.301542983100664,67.33333333333333,17.649493019838353,68.75,17.826010286554002C70.16666666666667,18.00252755326965,71.58333333333333,18.090786186627476,73,18.090786186627476C74.41666666666667,18.090786186627476,75.83333333333333,16.47229977957384,77.25,16.212049963262306C78.66666666666667,15.95180014695077,80.08333333333333,15.821675238795002,81.5,15.821675238795002C82.91666666666667,15.821675238795002,84.33333333333333,17.199559147685523,85.75,17.199559147685523C87.16666666666667,17.199559147685523,88.58333333333333,16.600418809698752,90,16.001278471711977" stroke-dasharray="95.97675323486328" stroke-dashoffset="0"></path>
                <circle fill="#28a745" r="2.5" cx="90" cy="16.001278471711977" style="opacity: 1;"></circle>
            </svg>
        </div>
    </div>
    <div class="boxes is-deceased">
        <div>
            <h5>Deceased</h5>
            <h4>+{{RiseDeaths}}</h4>
            <h1>{{Deaths}}</h1>
        </div>
        <div class="svg-parent">
            <svg width="100" height="75" viewBox="0 0 100 75" preserveAspectRatio="xMidYMid meet">
                <path fill="none" stroke="#6c757d99" stroke-width="2.5" d="M5,10.801526717557248C6.416666666666667,10.863867684478368,7.833333333333333,10.926208651399488,9.25,11.175572519083968C10.666666666666666,11.424936386768447,12.083333333333334,13.286259541984732,13.5,13.286259541984732C14.916666666666666,13.286259541984732,16.333333333333332,12.809796437659031,17.75,12.511450381679387C19.166666666666668,12.213104325699742,20.583333333333332,11.758905852417303,22,11.49618320610687C23.416666666666668,11.233460559796438,24.833333333333332,10.935114503816793,26.25,10.935114503816793C27.666666666666668,10.935114503816793,29.083333333333332,12.297709923664126,30.5,12.297709923664126C31.916666666666668,12.297709923664126,33.333333333333336,11.469465648854959,34.75,11.469465648854959C36.166666666666664,11.469465648854959,37.583333333333336,12.217557251908396,39,13.71374045801527C40.416666666666664,15.209923664122144,41.833333333333336,20.793893129770993,43.25,20.793893129770993C44.666666666666664,20.793893129770993,46.083333333333336,10.044529262086517,47.5,10.02671755725191C48.91666666666667,10.008905852417303,50.333333333333336,10,51.75000000000001,10C53.16666666666667,10,54.583333333333336,11.643129770992365,56,12.137404580152669C57.416666666666664,12.631679389312975,58.833333333333336,12.413486005089055,60.25,12.96564885496183C61.666666666666664,13.517811704834603,63.083333333333336,15.860050890585239,64.5,16.46564885496183C65.91666666666667,17.071246819338423,67.33333333333333,17.146946564885496,68.75,17.37404580152672C70.16666666666667,17.601145038167942,71.58333333333333,17.828244274809162,73,17.828244274809162C74.41666666666667,17.828244274809162,75.83333333333333,15.049618320610683,77.25,15.049618320610683C78.66666666666667,15.049618320610683,80.08333333333333,15.770992366412216,81.5,15.770992366412216C82.91666666666667,15.770992366412216,84.33333333333333,15.664122137404583,85.75,15.664122137404583C87.16666666666667,15.664122137404583,88.58333333333333,16.17175572519084,90,16.6793893129771" stroke-dasharray="101.84790802001953" stroke-dashoffset="0"></path>
                <circle fill="#6c757d" r="2.5" cx="90" cy="16.6793893129771" style="opacity: 1;"></circle>
            </svg>
        </div>
    </div>
</div>